@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

* {
  margin: 0;
  font-weight:bold;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica";
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #FFF;
}


ul {
  list-style: none;
}


table,
thead {
  width: 100%;
}

.root-container {
  width: 100%;
}

.blue-background {
  background: linear-gradient(140deg, #40d0e3 0%, #26d0e3 51%, #37bced 95%);
}

.yellow-background {
}

.dark-background {
  background: #294151;
  color: #EEE;
}

.content-container {
  width:70%;
  margin:0 auto;
  padding: 20px 0;
}

.accounts-container {
}



.accounts-container-stakeholders {

}

.accounts-container-nonstakeholders {


}

.add-workflow-step > * {
  display: inline-block;
  margin: 10px 20px;
}

.workflow-step-container {
  padding: 10px 0;
}

.workflow-step {
    display: inline-block;
    color:  #f8f8f8;
    border: #f8f8f8 3px solid;
    padding: 20px 20px;
    margin: 10px 10px;
    font-weight:bold;

    h1 {
      text-align: right;
      font-size: 25pt;
      font-weight:bold;
      margin-bottom:5px;
    }

    .step-counter {
      padding: 0px 5px;
      margin: 0;
    }

    .step-counter::before {
      content: "#";
    }

    .step-counter::after {
      content: " - ";
    }

    &.current-workflow-step {
      color: #111;
      background: #f8f8f8;
      border: #111 3px solid;
    }
}

.accounts-container-inner {
  margin-top: 50px;
}

.title {

  h1 {
    color: #111;
    background: #f8f8f8;
    border: #111 3px solid;
    width:auto;
    display:inline;
    padding: 10px 20px;
    margin-bottom: 10px
  }


  h2 {
    margin-left: 20px;
    display: inline;
  }

  margin: 20px 0;
}

form {
  float:right;
  margin-bottom: 30px
}


input {
  background: rgba(0,0,0,0);
  color: #111;
  font-weight:bold;
  font-size: 14px;
  padding:5px 10px;
  border: #111 3px solid;
}

.address-line {

  border: #f8f8f8 0px solid;
  padding: 10px 0px;

  margin-top:10px;
  margin-left: 15px;


  button {
    float: right;
    background: rgba(0,0,0,0);
    color: #111;
    font-weight:bold;
    font-size: 14px;
    padding:5px 10px;
    border: #111 3px solid;
  }

  p {
    width:500px;
    display: inline-block;
    margin-top:5px;
    margin-right: 20px;
  }

}

input {
    border: #111 3px solid;
}

button {
  background: rgba(0,0,0,0);
  color: #111;
  font-weight:bold;
  font-size: 14px;
  padding:5px 10px;
  border: #111 3px solid;
  margin-left: 15px;
  width:130px;
}
